header {
    padding: 30px;
    text-align: left;
    background: #ca91ca;
    font-size: 30px;
  }
  h1{
      color:#000000;
      font-size:1em;
      font-family:Arial;
      line-height:1;
      font-weight:100;
      text-align: center;
  }
  .centro{
      width:960px;
      height:800px;
  }
  li{
      
  }
  footer{
      background-color: #6A5A6A;
      color:white;
      padding-top:1.2rem;
      padding-bottom:1.2rem;
      display:flex;
      flex-direction:column;
      text-align:center;
      width: 100%;
  }