body
{
    background-color: #222;
    color: #ee6;
}

h1
{
    text-align: center;
    color: #eee;
    text-transform: uppercase;
}

p
{
    font-family: sans-serif;
}

h2
{
    color: #eee;
    text-transform: uppercase;
}

h3
{
    color: #eee;
    text-transform: uppercase;
}

strong
{
    text-decoration: underline white;
}

.the-force
{
    background-color: #444;
    font-weight: bold   ;
}

.light-side
{
    color: #66f;
}

.dark-side
{
    color: #f33;
}

#og-trilogy
{
    list-style-type: circle;
}

